In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot  as plt
import seaborn as sns
plt.style.use('ggplot')
from classe import *

II.Tiến hành phân nhóm dữ liệu thành các Bảng và xử lí dữ liệu trong các bảng

In [23]:
Data=pd.read_csv("Loan_2.csv")
Data.head(20)

,LoanId,LoanNumber,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,PartyId,NewCreditCustomer,LoanApplicationStartedDate,LoanDate,...,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd
0,836E1ABB9D6F,2141449,12/21/2020 13:11,224,0,262,A33597DEEBDE,New Credit Customer,12/21/2020 12:50,12/21/2020 0:00,...,0.0,62.03,0.00,0.0,0.0,0.0,NaN,0.0,NaN,NaN
1,6F99A0633AFA,2215884,4/2/2021 16:45,0,0,41,4FF25805096A,New Credit Customer,4/2/2021 16:42,4/2/2021 0:00,...,0.0,2.47,0.00,0.0,0.0,0.0,NaN,0.0,NaN,NaN
2,6387EED5CE06,2152674,1/10/2021 20:18,27,0,14,E944D178E39B,Existing Credit Customer,1/10/2021 18:34,1/10/2021 0:00,...,NaN,NaN,0.00,0.0,2.0,1062.0,570.26,0.0,7/20/2021 0:00,9/20/2021 0:00
3,55A06196AF5E,2197030,3/11/2021 10:25,32,0,9,E944D178E39B,Existing Credit Customer,3/11/2021 6:52,3/11/2021 0:00,...,NaN,NaN,0.00,0.0,3.0,1593.0,570.26,0.0,7/20/2021 0:00,9/20/2021 0:00
4,EE4E7640FF36,2326664,8/5/2021 7:14,117,3,44,4FF25805096A,Existing Credit Customer,8/5/2021 7:12,8/5/2021 0:00,...,0.0,16.99,0.00,NaN,1.0,531.0,54.61,0.0,NaN,NaN
5,5AC286334844,1078323,5/7/2019 1:13,177,0,191,9AC74BB71B7E,Existing Credit Customer,5/7/2019 1:02,5/7/2019 0:00,...,NaN,NaN,0.00,0.0,5.0,11885.0,611.96,0.0,10/14/2021 0:00,5/16/2022 0:00
6,091F454E19C0,2233799,4/25/2021 18:14,435,4,101,BC4FBEEF745C,Existing Credit Customer,4/25/2021 17:52,4/25/2021 0:00,...,NaN,NaN,0.00,0.0,4.0,6072.0,3595.78,0.0,NaN,NaN
7,A438E0BC8591,2114468,11/3/2020 20:53,447,1,1,5EECE16EB62D,Existing Credit Customer,11/3/2020 4:41,11/3/2020 0:00,...,NaN,NaN,0.00,0.0,1.0,3189.0,3332.46,0.0,NaN,NaN
8,D0F2FE28A8E3,2483028,12/5/2021 10:43,165,1,129,82B96770BB4E,Existing Credit Customer,12/5/2021 10:34,12/5/2021 0:00,...,NaN,NaN,4073.99,NaN,4.0,6742.0,575.82,0.0,9/4/2023 0:00,8/5/2024 0:00
9,D4CB3152C004,2296103,7/1/2021 13:59,0,0,77,82B96770BB4E,Existing Credit Customer,7/1/2021 13:56,7/1/2021 0:00,...,NaN,NaN,828.31,NaN,2.0,4668.0,575.82,0.0,9/4/2023 0:00,8/5/2024 0:00
10,B958B5431C70,2371629,9/23/2021 10:31,9,0,68,82B96770BB4E,Existing Credit Customer,9/23/2021 10:29,9/23/2021 0:00,...,NaN,NaN,959.77,NaN,3.0,5705.0,575.82,0.0,9/4/2023 0:00,8/5/2024 0:00
11,ECAB20E956C6,2768475,5/7/2022 18:25,18,0,0,82B96770BB4E,Existing Credit Customer,5/7/2022 18:19,5/7/2022 0:00,...,NaN,NaN,514.30,NaN,5.0,10892.0,575.82,0.0,9/4/2023 0:00,8/5/2024 0:00
12,62D16EDE25B1,847024,6/29/2018 10:44,464,0,516,A0DBC5FDD12F,Existing Credit Customer,6/29/2018 10:42,6/29/2018 0:00,...,0.0,0.00,1740.81,0.0,5.0,8389.0,NaN,0.0,10/27/2022 0:00,10/27/2023 0:00
13,81915139D500,778398,2/12/2018 7:49,1043,0,17,A0DBC5FDD12F,Existing Credit Customer,2/12/2018 7:29,2/12/2018 0:00,...,0.0,0.00,607.81,0.0,3.0,2970.0,271.33,0.0,10/27/2022 0:00,10/27/2023 0:00
14,7DBB0F99F195,809290,4/13/2018 0:33,3295,10,689,A0DBC5FDD12F,Existing Credit Customer,4/13/2018 0:20,4/13/2018 0:00,...,0.0,0.00,2406.65,0.0,4.0,4030.0,431.09,0.0,10/27/2022 0:00,10/27/2023 0:00
15,AE05AE1A2595,1975377,3/10/2020 8:25,639,0,1,A0DBC5FDD12F,Existing Credit Customer,3/10/2020 8:23,3/10/2020 0:00,...,0.0,0.00,622.92,0.0,9.0,13910.0,1164.42,0.0,10/27/2022 0:00,10/27/2023 0:00
16,C864766DE389,3180546,11/7/2022 16:52,87,1,37,1A364868E0B8,New Credit Customer,11/7/2022 16:48,11/7/2022 0:00,...,NaN,NaN,4108.04,NaN,0.0,0.0,NaN,0.0,7/27/2023 0:00,7/26/2024 0:00
17,97D93907EA35,958217,11/30/2018 6:37,76,1,478,A0DBC5FDD12F,Existing Credit Customer,11/30/2018 6:33,11/30/2018 0:00,...,0.0,0.00,396.12,0.0,6.0,11364.0,270.19,0.0,10/27/2022 0:00,10/27/2023 0:00
18,856E07177F3C,1537452,10/10/2019 9:59,632,0,89,A0DBC5FDD12F,Existing Credit Customer,10/10/2019 9:57,10/10/2019 0:00,...,0.0,0.00,681.81,0.0,8.0,12954.0,902.30,0.0,10/27/2022 0:00,10/27/2023 0:00
19,021A15C2C656,1080619,5/9/2019 8:26,505,0,135,A0DBC5FDD12F,Existing Credit Customer,5/9/2019 8:24,5/9/2019 0:00,...,0.0,0.00,539.42,0.0,7.0,12104.0,586.25,0.0,10/27/2022 0:00,10/27/2023 0:00

In [24]:
drop_cols= ["UseOfLoan",'MaritalStatus', 'EmploymentStatus','OccupationArea','DebtToIncome', 'FreeCash' ]
Data.drop(drop_cols,axis=1, inplace= True)

In [25]:
Data.head(10)

,LoanId,LoanNumber,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,PartyId,NewCreditCustomer,LoanApplicationStartedDate,LoanDate,...,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd
0,836E1ABB9D6F,2141449,12/21/2020 13:11,224,0,262,A33597DEEBDE,New Credit Customer,12/21/2020 12:50,12/21/2020 0:00,...,0.0,62.03,0.00,0.0,0.0,0.0,NaN,0.0,NaN,NaN
1,6F99A0633AFA,2215884,4/2/2021 16:45,0,0,41,4FF25805096A,New Credit Customer,4/2/2021 16:42,4/2/2021 0:00,...,0.0,2.47,0.00,0.0,0.0,0.0,NaN,0.0,NaN,NaN
2,6387EED5CE06,2152674,1/10/2021 20:18,27,0,14,E944D178E39B,Existing Credit Customer,1/10/2021 18:34,1/10/2021 0:00,...,NaN,NaN,0.00,0.0,2.0,1062.0,570.26,0.0,7/20/2021 0:00,9/20/2021 0:00
3,55A06196AF5E,2197030,3/11/2021 10:25,32,0,9,E944D178E39B,Existing Credit Customer,3/11/2021 6:52,3/11/2021 0:00,...,NaN,NaN,0.00,0.0,3.0,1593.0,570.26,0.0,7/20/2021 0:00,9/20/2021 0:00
4,EE4E7640FF36,2326664,8/5/2021 7:14,117,3,44,4FF25805096A,Existing Credit Customer,8/5/2021 7:12,8/5/2021 0:00,...,0.0,16.99,0.00,NaN,1.0,531.0,54.61,0.0,NaN,NaN
5,5AC286334844,1078323,5/7/2019 1:13,177,0,191,9AC74BB71B7E,Existing Credit Customer,5/7/2019 1:02,5/7/2019 0:00,...,NaN,NaN,0.00,0.0,5.0,11885.0,611.96,0.0,10/14/2021 0:00,5/16/2022 0:00
6,091F454E19C0,2233799,4/25/2021 18:14,435,4,101,BC4FBEEF745C,Existing Credit Customer,4/25/2021 17:52,4/25/2021 0:00,...,NaN,NaN,0.00,0.0,4.0,6072.0,3595.78,0.0,NaN,NaN
7,A438E0BC8591,2114468,11/3/2020 20:53,447,1,1,5EECE16EB62D,Existing Credit Customer,11/3/2020 4:41,11/3/2020 0:00,...,NaN,NaN,0.00,0.0,1.0,3189.0,3332.46,0.0,NaN,NaN
8,D0F2FE28A8E3,2483028,12/5/2021 10:43,165,1,129,82B96770BB4E,Existing Credit Customer,12/5/2021 10:34,12/5/2021 0:00,...,NaN,NaN,4073.99,NaN,4.0,6742.0,575.82,0.0,9/4/2023 0:00,8/5/2024 0:00
9,D4CB3152C004,2296103,7/1/2021 13:59,0,0,77,82B96770BB4E,Existing Credit Customer,7/1/2021 13:56,7/1/2021 0:00,...,NaN,NaN,828.31,NaN,2.0,4668.0,575.82,0.0,9/4/2023 0:00,8/5/2024 0:00

In [26]:
Data.insert(Data.columns.get_loc('LoanNumber')+1, 'DefaultStatus', np.where(Data['DefaultDate'].notnull(), 'Recovery', 'Nodefault'))

# Hiển thị một số hàng đầu tiên của DataFrame đã được thay đổi
Data.head(10)

,LoanId,LoanNumber,DefaultStatus,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,PartyId,NewCreditCustomer,LoanApplicationStartedDate,...,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd
0,836E1ABB9D6F,2141449,Nodefault,12/21/2020 13:11,224,0,262,A33597DEEBDE,New Credit Customer,12/21/2020 12:50,...,0.0,62.03,0.00,0.0,0.0,0.0,NaN,0.0,NaN,NaN
1,6F99A0633AFA,2215884,Nodefault,4/2/2021 16:45,0,0,41,4FF25805096A,New Credit Customer,4/2/2021 16:42,...,0.0,2.47,0.00,0.0,0.0,0.0,NaN,0.0,NaN,NaN
2,6387EED5CE06,2152674,Nodefault,1/10/2021 20:18,27,0,14,E944D178E39B,Existing Credit Customer,1/10/2021 18:34,...,NaN,NaN,0.00,0.0,2.0,1062.0,570.26,0.0,7/20/2021 0:00,9/20/2021 0:00
3,55A06196AF5E,2197030,Nodefault,3/11/2021 10:25,32,0,9,E944D178E39B,Existing Credit Customer,3/11/2021 6:52,...,NaN,NaN,0.00,0.0,3.0,1593.0,570.26,0.0,7/20/2021 0:00,9/20/2021 0:00
4,EE4E7640FF36,2326664,Nodefault,8/5/2021 7:14,117,3,44,4FF25805096A,Existing Credit Customer,8/5/2021 7:12,...,0.0,16.99,0.00,NaN,1.0,531.0,54.61,0.0,NaN,NaN
5,5AC286334844,1078323,Nodefault,5/7/2019 1:13,177,0,191,9AC74BB71B7E,Existing Credit Customer,5/7/2019 1:02,...,NaN,NaN,0.00,0.0,5.0,11885.0,611.96,0.0,10/14/2021 0:00,5/16/2022 0:00
6,091F454E19C0,2233799,Nodefault,4/25/2021 18:14,435,4,101,BC4FBEEF745C,Existing Credit Customer,4/25/2021 17:52,...,NaN,NaN,0.00,0.0,4.0,6072.0,3595.78,0.0,NaN,NaN
7,A438E0BC8591,2114468,Nodefault,11/3/2020 20:53,447,1,1,5EECE16EB62D,Existing Credit Customer,11/3/2020 4:41,...,NaN,NaN,0.00,0.0,1.0,3189.0,3332.46,0.0,NaN,NaN
8,D0F2FE28A8E3,2483028,Nodefault,12/5/2021 10:43,165,1,129,82B96770BB4E,Existing Credit Customer,12/5/2021 10:34,...,NaN,NaN,4073.99,NaN,4.0,6742.0,575.82,0.0,9/4/2023 0:00,8/5/2024 0:00
9,D4CB3152C004,2296103,Nodefault,7/1/2021 13:59,0,0,77,82B96770BB4E,Existing Credit Customer,7/1/2021 13:56,...,NaN,NaN,828.31,NaN,2.0,4668.0,575.82,0.0,9/4/2023 0:00,8/5/2024 0:00

In [27]:
Data1= Data[["PartyId", "LoanId", "DefaultStatus"]]
Data1.head(10)

        PartyId        LoanId DefaultStatus
0  A33597DEEBDE  836E1ABB9D6F     Nodefault
1  4FF25805096A  6F99A0633AFA     Nodefault
2  E944D178E39B  6387EED5CE06     Nodefault
3  E944D178E39B  55A06196AF5E     Nodefault
4  4FF25805096A  EE4E7640FF36     Nodefault
5  9AC74BB71B7E  5AC286334844     Nodefault
6  BC4FBEEF745C  091F454E19C0     Nodefault
7  5EECE16EB62D  A438E0BC8591     Nodefault
8  82B96770BB4E  D0F2FE28A8E3     Nodefault
9  82B96770BB4E  D4CB3152C004     Nodefault

In [28]:
print(Data.shape)
Data.info()

(222765, 71)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222765 entries, 0 to 222764
Data columns (total 71 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   LoanId                                  222765 non-null  object
 1   LoanNumber                              222765 non-null  int64
 2   DefaultStatus                           222765 non-null  object
 3   BiddingStartedOn                        222765 non-null  object
 4   BidsPortfolioManager                    222765 non-null  int64
 5   BidsApi                                 222765 non-null  int64
 6   BidsManual                              222765 non-null  int64
 7   PartyId                                 222765 non-null  object
 8   NewCreditCustomer                       222765 non-null  object
 9   LoanApplicationStartedDate              222765 non-null  object
 10  LoanDate                                222765 non-null  object
 11  FirstPaymentDate                        222765 non-null  object
 12  MaturityDate_Original                   222765 non-null  object
 13  MaturityDate_Last                       222765 non-null  object
 14  ApplicationSignedHour                   222765 non-null  int64
 15  ApplicationSignedWeekday                222765 non-null  int64
 16  VerificationType                        222765 non-null  object
 17  LanguageCode                            222765 non-null  object
 18  Age                                     222765 non-null  int64
 19  Gender                                  222765 non-null  object
 20  Country                                 222765 non-null  object
 21  AppliedAmount                           222765 non-null  int64
 22  Amount                                  222765 non-null  int64
 23  Interest                                222765 non-null  float64
 24  LoanDuration                            222765 non-null  int64
 25  MonthlyPayment                          222765 non-null  float64
 26  Education                               222765 non-null  object
 27  EmploymentDurationCurrentEmployer       222765 non-null  object
 28  HomeOwnershipType                       222765 non-null  object
 29  IncomeTotal                             222765 non-null  float64
 30  ExistingLiabilities                     222765 non-null  int64
 31  LiabilitiesTotal                        222765 non-null  float64
 32  RefinanceLiabilities                    222765 non-null  int64
 33  MonthlyPaymentDay                       222765 non-null  int64
 34  ActiveScheduleFirstPaymentReached       222765 non-null  object
 35  LastPaymentOn                           219820 non-null  object
 36  CurrentDebtDaysPrimary                  89905 non-null   float64
 37  DebtOccuredOn                           89905 non-null   object
 38  CurrentDebtDaysSecondary                96607 non-null   float64
 39  DebtOccuredOnForSecondary               96607 non-null   object
 40  ExpectedLoss                            222765 non-null  float64
 41  LossGivenDefault                        222765 non-null  float64
 42  ExpectedReturn                          222765 non-null  float64
 43  ProbabilityOfDefault                    222765 non-null  float64
 44  DefaultDate                             80382 non-null   object
 45  PrincipalOverdueBySchedule              222485 non-null  float64
 46  PlannedPrincipalPostDefault             80382 non-null   float64
 47  PlannedInterestPostDefault              80382 non-null   float64
 48  EAD1                                    80380 non-null   float64
 49  EAD2                                    80380 non-null   float64
 50  PrincipalRecovery                       80382 non-null   float64
 51  InterestRecovery                        80382 non-null   float64
 52  RecoveryStage                           151330 non-null  float64
 53  StageActiveSince                        159877 non-null  float64
 54  Rating                                  222765 non-null  object
 55  Status                                  222765 non-null  object
 56  Restructured                            222765 non-null  object
 57  WorseLateCategory                       222765 non-null  object
 58  CreditScore                             222765 non-null  object
 59  PrincipalPaymentsMade                   222765 non-null  float64
 60  InterestAndPenaltyPaymentsMade          222765 non-null  float64
 61  PrincipalWriteOffs                      56354 non-null   float64
 62  InterestAndPenaltyWriteOffs             56354 non-null   float64
 63  PrincipalBalance                        222765 non-null  float64
 64  InterestAndPenaltyBalance               124838 non-null  float64
 65  NoOfPreviousLoansBeforeLoan             222760 non-null  float64
 66  AmountOfPreviousLoansBeforeLoan         222760 non-null  float64
 67  PreviousRepaymentsBeforeLoan            121375 non-null  float64
 68  PreviousEarlyRepaymentsCountBeforeLoan  222760 non-null  float64
 69  GracePeriodStart                        74628 non-null   object
 70  GracePeriodEnd                          74628 non-null   object
dtypes: float64(29), int64(13), object(29)
memory usage: 120.7+ MB

In [29]:
print(Data.columns)

Index(['LoanId', 'LoanNumber', 'DefaultStatus', 'BiddingStartedOn',
       'BidsPortfolioManager', 'BidsApi', 'BidsManual', 'PartyId',
       'NewCreditCustomer', 'LoanApplicationStartedDate', 'LoanDate',
       'FirstPaymentDate', 'MaturityDate_Original', 'MaturityDate_Last',
       'ApplicationSignedHour', 'ApplicationSignedWeekday', 'VerificationType',
       'LanguageCode', 'Age', 'Gender', 'Country', 'AppliedAmount', 'Amount',
       'Interest', 'LoanDuration', 'MonthlyPayment', 'Education',
       'EmploymentDurationCurrentEmployer', 'HomeOwnershipType', 'IncomeTotal',
       'ExistingLiabilities', 'LiabilitiesTotal', 'RefinanceLiabilities',
       'MonthlyPaymentDay', 'ActiveScheduleFirstPaymentReached',
       'LastPaymentOn', 'CurrentDebtDaysPrimary', 'DebtOccuredOn',
       'CurrentDebtDaysSecondary', 'DebtOccuredOnForSecondary', 'ExpectedLoss',
       'LossGivenDefault', 'ExpectedReturn', 'ProbabilityOfDefault',
       'DefaultDate', 'PrincipalOverdueBySchedule',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'StageActiveSince', 'Rating', 'Status', 'Restructured',
       'WorseLateCategory', 'CreditScore', 'PrincipalPaymentsMade',
       'InterestAndPenaltyPaymentsMade', 'PrincipalWriteOffs',
       'InterestAndPenaltyWriteOffs', 'PrincipalBalance',
       'InterestAndPenaltyBalance', 'NoOfPreviousLoansBeforeLoan',
       'AmountOfPreviousLoansBeforeLoan', 'PreviousRepaymentsBeforeLoan',
       'PreviousEarlyRepaymentsCountBeforeLoan', 'GracePeriodStart',
       'GracePeriodEnd'],
      dtype='object')

In [30]:
# Bảng Borrower_Account
Borrower_Account= Data[["PartyId"]]

In [31]:
Borrower_Account.head()

        PartyId
0  A33597DEEBDE
1  4FF25805096A
2  E944D178E39B
3  E944D178E39B
4  4FF25805096A

In [32]:
# Loại bỏ giá trị trùng lặp và đổi tên cột NewCredit thành Credit
Borrower_Account= Borrower_Account.drop_duplicates(subset= ['PartyId'])
Borrower_Account.head(10)
Borrower_Account.info

<bound method DataFrame.info of              PartyId
0       A33597DEEBDE
1       4FF25805096A
2       E944D178E39B
5       9AC74BB71B7E
6       BC4FBEEF745C
...              ...
222733  ECA6C0D75B69
222744  938D0CEBAAD0
222747  D53C0EE69B6E
222748  7A2676C6C323
222759  C97ABD8DD23D

[102603 rows x 1 columns]>

In [33]:
Borrower_Account.info

<bound method DataFrame.info of              PartyId
0       A33597DEEBDE
1       4FF25805096A
2       E944D178E39B
5       9AC74BB71B7E
6       BC4FBEEF745C
...              ...
222733  ECA6C0D75B69
222744  938D0CEBAAD0
222747  D53C0EE69B6E
222748  7A2676C6C323
222759  C97ABD8DD23D

[102603 rows x 1 columns]>

In [34]:
accountIds_to_borower_dict={}
borrower_account = []
for index,row in Borrower_Account.iterrows():
    _borroweraccount = BORROWER_ACCOUNT(row["PartyId"])
    borrower_account.append(_borroweraccount)
    accountIds_to_borower_dict[row["PartyId"]] = _borroweraccount

dataFrame_output_account = pd.DataFrame(sto.to_dict() for sto in borrower_account )
dataFrame_output_account.head()
dataFrame_output_account.to_csv("borrower_account.csv",index=False)

In [35]:
# Bảng Loan_Application
Loan_Application= Data[['LoanNumber',"PartyId",'LoanApplicationStartedDate','ApplicationSignedHour',
 'ApplicationSignedWeekday','AppliedAmount','VerificationType']]

In [36]:
# Loại bỏ các giá trị trung lặp
Loan_Application= Loan_Application.drop_duplicates(subset=["LoanNumber","PartyId"])
#Loan_Application.to_csv("Loan_Application.csv", index=False)

In [37]:
Loan_Application.dtypes
Loan_Application.head(10)

,LoanNumber,PartyId,LoanApplicationStartedDate,ApplicationSignedHour,ApplicationSignedWeekday,AppliedAmount,VerificationType
0,2141449,A33597DEEBDE,12/21/2020 12:50,13,2,6911,VerifiedByBankStatement
1,2215884,4FF25805096A,4/2/2021 16:42,16,6,531,VerifiedByBankStatement
2,2152674,E944D178E39B,1/10/2021 18:34,18,1,531,VerifiedByBankStatement
3,2197030,E944D178E39B,3/11/2021 6:52,6,5,531,VerifiedByBankStatement
4,2326664,4FF25805096A,8/5/2021 7:12,7,5,2339,VerifiedByBankStatement
5,1078323,9AC74BB71B7E,5/7/2019 1:02,1,3,4890,VerifiedByBankStatement
6,2233799,BC4FBEEF745C,4/25/2021 17:52,17,1,7655,VerifiedByBankStatement
7,2114468,5EECE16EB62D,11/3/2020 4:41,4,3,6379,VerifiedByBankStatement
8,2483028,82B96770BB4E,12/5/2021 10:34,10,1,4150,VerifiedByBankStatement
9,2296103,82B96770BB4E,7/1/2021 13:56,13,5,1037,VerifiedByBankStatement

In [38]:
loannumber_to_loan_dict={}
loan_app =[]

for index,row in Loan_Application.iterrows( ):
    _loanapp = LOAN_APPLICATION(row["LoanNumber"],accountIds_to_borower_dict[str(row["PartyId"])],row["LoanApplicationStartedDate"], row["AppliedAmount"], row["ApplicationSignedHour"], row["ApplicationSignedWeekday"],row["VerificationType"])
    loan_app.append(_loanapp)
    loannumber_to_loan_dict[row["LoanNumber"]] = _loanapp
    
dataFrame_output_loanapp = pd.DataFrame(sto.to_dict() for sto in loan_app )
dataFrame_output_loanapp['LoanApplicationStartedDate'] = dataFrame_output_loanapp['LoanApplicationStartedDate'].astype('datetime64[ns]')
dataFrame_output_loanapp.head()

,LoanNumber,PartyId,LoanApplicationStartedDate,AppliedAmount,ApplicationSignedHour,ApplicationSignedWeekend,VerificationType
0,2141449,A33597DEEBDE,2020-12-21 12:50:00,6911,13,2,VerifiedByBankStatement
1,2215884,4FF25805096A,2021-04-02 16:42:00,531,16,6,VerifiedByBankStatement
2,2152674,E944D178E39B,2021-01-10 18:34:00,531,18,1,VerifiedByBankStatement
3,2197030,E944D178E39B,2021-03-11 06:52:00,531,6,5,VerifiedByBankStatement
4,2326664,4FF25805096A,2021-08-05 07:12:00,2339,7,5,VerifiedByBankStatement

In [39]:
dataFrame_output_loanapp.dtypes

LoanNumber                             int64
PartyId                               object
LoanApplicationStartedDate    datetime64[ns]
AppliedAmount                          int64
ApplicationSignedHour                  int64
ApplicationSignedWeekend               int64
VerificationType                      object
dtype: object

In [40]:
from datetime import datetime
dataFrame_output_loanapp.to_csv("loan_application.csv",index=False)

In [41]:
Borrower= Data[["LoanNumber", 'Age', 'Gender','Country','LanguageCode','Education','EmploymentDurationCurrentEmployer',
       'HomeOwnershipType']]
Borrower.head(10)

,LoanNumber,Age,Gender,Country,LanguageCode,Education,EmploymentDurationCurrentEmployer,HomeOwnershipType
0,2141449,25,Male,EE,Estonian,Secondary,UpTo1Year,Owner
1,2215884,24,Male,EE,Estonian,Primary,UpTo1Year,TenantFurnished
2,2152674,33,Male,EE,Estonian,Vocational,MoreThan5Years,Owner
3,2197030,33,Male,EE,Estonian,Vocational,MoreThan5Years,Owner
4,2326664,24,Male,EE,Estonian,Primary,UpTo1Year,TenantFurnished
5,1078323,42,Male,ES,Spanish,Secondary,MoreThan5Years,TenantFurnished
6,2233799,45,Male,EE,Estonian,Secondary,MoreThan5Years,Owner
7,2114468,47,Female,EE,Estonian,Secondary,MoreThan5Years,Owner
8,2483028,47,Male,FI,Finnish,Vocational,MoreThan5Years,TenantFurnished
9,2296103,47,Male,FI,Finnish,Vocational,MoreThan5Years,TenantFurnished

In [42]:
# Bảng Borrower
Borrower= Data[["LoanNumber", 'Age', 'Gender','Country','LanguageCode','Education','EmploymentDurationCurrentEmployer',
       'HomeOwnershipType']]

# Loại bỏ các giá trị trùng lặp, thêm cột BorrowerID
Borrower= Borrower.drop_duplicates(subset= ['LoanNumber'])
Borrower["BorrowerID"]=range(1,len(Borrower)+1)
Borrower.rename(columns={'EmploymentDurationCurrentEmployer':'EmploymentDuration'},inplace=True)
Borrower.head(10)

,LoanNumber,Age,Gender,Country,LanguageCode,Education,EmploymentDuration,HomeOwnershipType,BorrowerID
0,2141449,25,Male,EE,Estonian,Secondary,UpTo1Year,Owner,1
1,2215884,24,Male,EE,Estonian,Primary,UpTo1Year,TenantFurnished,2
2,2152674,33,Male,EE,Estonian,Vocational,MoreThan5Years,Owner,3
3,2197030,33,Male,EE,Estonian,Vocational,MoreThan5Years,Owner,4
4,2326664,24,Male,EE,Estonian,Primary,UpTo1Year,TenantFurnished,5
5,1078323,42,Male,ES,Spanish,Secondary,MoreThan5Years,TenantFurnished,6
6,2233799,45,Male,EE,Estonian,Secondary,MoreThan5Years,Owner,7
7,2114468,47,Female,EE,Estonian,Secondary,MoreThan5Years,Owner,8
8,2483028,47,Male,FI,Finnish,Vocational,MoreThan5Years,TenantFurnished,9
9,2296103,47,Male,FI,Finnish,Vocational,MoreThan5Years,TenantFurnished,10

In [43]:
borrowerIds_to_borower_dict={}
borrower = []
for index,row in Borrower.iterrows():
    _borrower = BORROWER(row["BorrowerID"],loannumber_to_loan_dict[row["LoanNumber"]],row["Age"], row["Gender"], row["Country"], row["LanguageCode"], row["Education"], row["EmploymentDuration"],row["HomeOwnershipType"])
    borrower.append(_borrower)
    borrowerIds_to_borower_dict[int(row["BorrowerID"])] = _borrower

dataFrame_output_borrower = pd.DataFrame(sto.to_dict() for sto in borrower )
dataFrame_output_borrower.head()
dataFrame_output_borrower.to_csv("borrower.csv",index=False)

In [44]:
dataFrame_output_borrower.head(10)

,BorrowerID,LoanNumber,Age,Gender,Country,LanguageCode,Education,EmploymentDuration,HomeOwnershipType
0,1,2141449,25,Male,EE,Estonian,Secondary,UpTo1Year,Owner
1,2,2215884,24,Male,EE,Estonian,Primary,UpTo1Year,TenantFurnished
2,3,2152674,33,Male,EE,Estonian,Vocational,MoreThan5Years,Owner
3,4,2197030,33,Male,EE,Estonian,Vocational,MoreThan5Years,Owner
4,5,2326664,24,Male,EE,Estonian,Primary,UpTo1Year,TenantFurnished
5,6,1078323,42,Male,ES,Spanish,Secondary,MoreThan5Years,TenantFurnished
6,7,2233799,45,Male,EE,Estonian,Secondary,MoreThan5Years,Owner
7,8,2114468,47,Female,EE,Estonian,Secondary,MoreThan5Years,Owner
8,9,2483028,47,Male,FI,Finnish,Vocational,MoreThan5Years,TenantFurnished
9,10,2296103,47,Male,FI,Finnish,Vocational,MoreThan5Years,TenantFurnished

In [45]:
# Bảng Loan
Loan = Data[['LoanId','LoanNumber','LoanDate','Amount', 'Interest',
       'LoanDuration', 'MonthlyPayment','MonthlyPaymentDay','MaturityDate_Original', 'MaturityDate_Last',
        'Status', 'Restructured','WorseLateCategory','Rating','RecoveryStage','DefaultStatus',
       'ExpectedLoss',
       'LossGivenDefault', 'ExpectedReturn', 'ProbabilityOfDefault']]

In [46]:
Loan.isnull().sum()

LoanId                       0
LoanNumber                   0
LoanDate                     0
Amount                       0
Interest                     0
LoanDuration                 0
MonthlyPayment               0
MonthlyPaymentDay            0
MaturityDate_Original        0
MaturityDate_Last            0
Status                       0
Restructured                 0
WorseLateCategory            0
Rating                       0
RecoveryStage            71435
DefaultStatus                0
ExpectedLoss                 0
LossGivenDefault             0
ExpectedReturn               0
ProbabilityOfDefault         0
dtype: int64

In [47]:
Loan= Loan.drop_duplicates(subset= 'LoanId')
Loan['RecoveryStage'].fillna(0,inplace=True)
Loan.head(10)
#Loan.to_csv("LoanP.csv", index=False)

,LoanId,LoanNumber,LoanDate,Amount,Interest,LoanDuration,MonthlyPayment,MonthlyPaymentDay,MaturityDate_Original,MaturityDate_Last,Status,Restructured,WorseLateCategory,Rating,RecoveryStage,DefaultStatus,ExpectedLoss,LossGivenDefault,ExpectedReturn,ProbabilityOfDefault
0,836E1ABB9D6F,2141449,12/21/2020 0:00,6911,27.34,60,223.58,18,12/18/2025 0:00,12/18/2025 0:00,Repaid,Yes,0-15,C,0.0,Nodefault,0.076272,0.452921,0.111733,0.168400
1,6F99A0633AFA,2215884,4/2/2021 0:00,531,28.01,60,17.36,12,3/12/2026 0:00,4/12/2026 0:00,Repaid,Yes,0-15,C,0.0,Nodefault,0.080920,0.457695,0.112522,0.176800
2,6387EED5CE06,2152674,1/10/2021 0:00,531,38.63,60,19.99,18,12/18/2025 0:00,5/21/2026 0:00,Repaid,Yes,0-15,D,1.0,Nodefault,0.126719,0.546202,0.131702,0.232000
3,55A06196AF5E,2197030,3/11/2021 0:00,531,39.45,60,20.17,18,2/18/2026 0:00,5/21/2026 0:00,Repaid,Yes,0-15,E,1.0,Nodefault,0.131394,0.547476,0.131798,0.240000
4,EE4E7640FF36,2326664,8/5/2021 0:00,2339,43.13,60,93.07,12,7/13/2026 0:00,12/14/2026 0:00,Repaid,Yes,0-15,F,0.0,Nodefault,0.193526,0.596851,0.080871,0.324500
5,5AC286334844,1078323,5/7/2019 0:00,4890,49.38,48,251.47,1,6/1/2023 0:00,5/14/2023 0:00,Repaid,Yes,0-15,F,0.0,Nodefault,0.222570,0.758558,0.175007,0.338185
6,091F454E19C0,2233799,4/25/2021 0:00,7655,18.23,60,215.30,6,4/6/2026 0:00,4/6/2040 0:00,Repaid,Yes,0-15,B,0.0,Nodefault,0.044371,0.536140,0.098619,0.082760
7,A438E0BC8591,2114468,11/3/2020 0:00,6379,26.98,60,205.25,1,11/3/2025 0:00,5/3/2038 0:00,Repaid,Yes,0-15,C,0.0,Nodefault,0.077199,0.508889,0.113635,0.151700
8,D0F2FE28A8E3,2483028,12/5/2021 0:00,4150,21.05,60,108.27,3,12/3/2026 0:00,7/3/2034 0:00,Current,Yes,0-15,C,0.0,Nodefault,0.082739,0.781689,0.101218,0.105850
9,D4CB3152C004,2296103,7/1/2021 0:00,1037,19.96,36,37.45,3,6/3/2024 0:00,7/3/2034 0:00,Current,Yes,0-15,D,0.0,Nodefault,0.090000,0.794822,0.067500,0.124240

In [48]:
Loan.isnull().sum()

LoanId                   0
LoanNumber               0
LoanDate                 0
Amount                   0
Interest                 0
LoanDuration             0
MonthlyPayment           0
MonthlyPaymentDay        0
MaturityDate_Original    0
MaturityDate_Last        0
Status                   0
Restructured             0
WorseLateCategory        0
Rating                   0
RecoveryStage            0
DefaultStatus            0
ExpectedLoss             0
LossGivenDefault         0
ExpectedReturn           0
ProbabilityOfDefault     0
dtype: int64

In [49]:
loan_to_loan_dict={}
loan = []
for index,row in Loan.iterrows():
    _loan = LOAN(row["LoanId"],loannumber_to_loan_dict[row["LoanNumber"]],row["LoanDate"],row["Amount"], row["LoanDuration"],row["Interest"], row["MonthlyPayment"],row["MonthlyPaymentDay"],row["MaturityDate_Original"],row["MaturityDate_Last"],row["Status"],
                 row["Restructured"],row["WorseLateCategory"],row["Rating"],row["RecoveryStage"],row["DefaultStatus"],row["ExpectedLoss"],row["LossGivenDefault"],row["ExpectedReturn"],row["ProbabilityOfDefault"])
    loan.append(_loan)
    loan_to_loan_dict[row["LoanId"]] = _loan

dataFrame_output_loan = pd.DataFrame(sto.to_dict() for sto in loan )
dataFrame_output_loan['LoanDate'] = dataFrame_output_loan['LoanDate'].astype('datetime64[ns]')

In [50]:
dataFrame_output_loan['MaturityDate_Original'] = dataFrame_output_loan['MaturityDate_Original'].astype('datetime64[ns]')
dataFrame_output_loan['MaturityDate_Last'] = dataFrame_output_loan['MaturityDate_Last'].astype('datetime64[ns]')

In [51]:
dataFrame_output_loan.head(10)

,LoanId,LoanNumber,LoanDate,Amount,LoanDuration,Interest,MonthlyPayment,MonthlyPaymentDay,MaturityDate_Original,MaturityDate_Last,StatusLoan,Restructured,WorseLateCategory,Rating,RecoveryStage,DefaultStatus,ExpectedLoss,LossGivenDefault,ExpectedReturn,ProbabilityOfDefault
0,836E1ABB9D6F,2141449,2020-12-21,6911,60,27.34,223.58,18,2025-12-18,2025-12-18,Repaid,Yes,0-15,C,0.0,Nodefault,0.076272,0.452921,0.111733,0.168400
1,6F99A0633AFA,2215884,2021-04-02,531,60,28.01,17.36,12,2026-03-12,2026-04-12,Repaid,Yes,0-15,C,0.0,Nodefault,0.080920,0.457695,0.112522,0.176800
2,6387EED5CE06,2152674,2021-01-10,531,60,38.63,19.99,18,2025-12-18,2026-05-21,Repaid,Yes,0-15,D,1.0,Nodefault,0.126719,0.546202,0.131702,0.232000
3,55A06196AF5E,2197030,2021-03-11,531,60,39.45,20.17,18,2026-02-18,2026-05-21,Repaid,Yes,0-15,E,1.0,Nodefault,0.131394,0.547476,0.131798,0.240000
4,EE4E7640FF36,2326664,2021-08-05,2339,60,43.13,93.07,12,2026-07-13,2026-12-14,Repaid,Yes,0-15,F,0.0,Nodefault,0.193526,0.596851,0.080871,0.324500
5,5AC286334844,1078323,2019-05-07,4890,48,49.38,251.47,1,2023-06-01,2023-05-14,Repaid,Yes,0-15,F,0.0,Nodefault,0.222570,0.758558,0.175007,0.338185
6,091F454E19C0,2233799,2021-04-25,7655,60,18.23,215.30,6,2026-04-06,2040-04-06,Repaid,Yes,0-15,B,0.0,Nodefault,0.044371,0.536140,0.098619,0.082760
7,A438E0BC8591,2114468,2020-11-03,6379,60,26.98,205.25,1,2025-11-03,2038-05-03,Repaid,Yes,0-15,C,0.0,Nodefault,0.077199,0.508889,0.113635,0.151700
8,D0F2FE28A8E3,2483028,2021-12-05,4150,60,21.05,108.27,3,2026-12-03,2034-07-03,Current,Yes,0-15,C,0.0,Nodefault,0.082739,0.781689,0.101218,0.105850
9,D4CB3152C004,2296103,2021-07-01,1037,36,19.96,37.45,3,2024-06-03,2034-07-03,Current,Yes,0-15,D,0.0,Nodefault,0.090000,0.794822,0.067500,0.124240

In [52]:
dataFrame_output_loan.to_csv("loan_P.csv",index=False)

In [53]:
# Bảng Borrower_credit- tình trạng tài chính tại thời điểm vay
Borrower_credit = Data[['LoanNumber','NewCreditCustomer', 'IncomeTotal', 'ExistingLiabilities',
       'LiabilitiesTotal', 'RefinanceLiabilities', 
       'NoOfPreviousLoansBeforeLoan',
       'AmountOfPreviousLoansBeforeLoan', 'PreviousRepaymentsBeforeLoan',
       'PreviousEarlyRepaymentsCountBeforeLoan','CreditScore'
       ]]
Borrower_credit= Borrower_credit.drop_duplicates(subset=["LoanNumber"])
Borrower_credit.rename(columns={'NewCreditCustomer':'CreditCustomer'},inplace=True)
Borrower_credit["CreditID"]=range(1,len(Borrower_credit)+1)
Borrower_credit.isnull().sum()

LoanNumber                                     0
CreditCustomer                                 0
IncomeTotal                                    0
ExistingLiabilities                            0
LiabilitiesTotal                               0
RefinanceLiabilities                           0
NoOfPreviousLoansBeforeLoan                    5
AmountOfPreviousLoansBeforeLoan                5
PreviousRepaymentsBeforeLoan              101390
PreviousEarlyRepaymentsCountBeforeLoan         5
CreditScore                                    0
CreditID                                       0
dtype: int64

In [54]:
# Thực hiện xử lí các giá trị Null 
Borrower_credit.NoOfPreviousLoansBeforeLoan= Borrower_credit.NoOfPreviousLoansBeforeLoan.fillna(0)
Borrower_credit.AmountOfPreviousLoansBeforeLoan = Borrower_credit.AmountOfPreviousLoansBeforeLoan.fillna(0)
Borrower_credit.PreviousEarlyRepaymentsCountBeforeLoan = Borrower_credit.PreviousEarlyRepaymentsCountBeforeLoan.fillna(0)
Borrower_credit.PreviousRepaymentsBeforeLoan = Borrower_credit.PreviousRepaymentsBeforeLoan.fillna(0)

In [55]:
Borrower_credit.head(10)

,LoanNumber,CreditCustomer,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,CreditScore,CreditID
0,2141449,New Credit Customer,1200.0,0,0.00,0,0.0,0.0,0.00,0.0,M-0-800,1
1,2215884,New Credit Customer,600.0,0,0.00,0,0.0,0.0,0.00,0.0,M-0-1000,2
2,2152674,Existing Credit Customer,1200.0,1,400.00,0,2.0,1062.0,570.26,0.0,M-0-1000,3
3,2197030,Existing Credit Customer,1200.0,2,419.99,0,3.0,1593.0,570.26,0.0,M-0-1000,4
4,2326664,Existing Credit Customer,600.0,1,17.36,0,1.0,531.0,54.61,0.0,M-0-1000,5
5,1078323,Existing Credit Customer,2570.0,6,738.33,0,5.0,11885.0,611.96,0.0,M-0-0,6
6,2233799,Existing Credit Customer,1850.0,5,607.00,0,4.0,6072.0,3595.78,0.0,M-0-1000,7
7,2114468,Existing Credit Customer,1500.0,0,0.00,0,1.0,3189.0,3332.46,0.0,M-0-1000,8
8,2483028,Existing Credit Customer,1250.0,4,299.97,0,4.0,6742.0,575.82,0.0,M-3-0,9
9,2296103,Existing Credit Customer,1250.0,2,230.00,0,2.0,4668.0,575.82,0.0,M-3-0,10

In [56]:
Borrower_credit.isnull().sum()

LoanNumber                                0
CreditCustomer                            0
IncomeTotal                               0
ExistingLiabilities                       0
LiabilitiesTotal                          0
RefinanceLiabilities                      0
NoOfPreviousLoansBeforeLoan               0
AmountOfPreviousLoansBeforeLoan           0
PreviousRepaymentsBeforeLoan              0
PreviousEarlyRepaymentsCountBeforeLoan    0
CreditScore                               0
CreditID                                  0
dtype: int64

In [57]:
borrower_to_credit_dict={}
asset = []
for index,row in Borrower_credit.iterrows():
    _asset = BORROWER_CREDIT(row["CreditID"],loannumber_to_loan_dict[row["LoanNumber"]],row["CreditCustomer"],row["IncomeTotal"],row["ExistingLiabilities"], row["LiabilitiesTotal"], row["RefinanceLiabilities"],
                 row["NoOfPreviousLoansBeforeLoan"],row["AmountOfPreviousLoansBeforeLoan"],row["PreviousRepaymentsBeforeLoan"],row["PreviousEarlyRepaymentsCountBeforeLoan"],row["CreditScore"])
    asset.append(_asset)
    borrower_to_credit_dict[row["CreditID"]] = _asset

dataFrame_output_asset = pd.DataFrame(sto.to_dict() for sto in asset )
dataFrame_output_asset.head()

,CreditID,LoanNumber,CreditCustomer,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,CreditScore
0,1,2141449,New Credit Customer,1200.0,0,0.00,0,0.0,0.0,0.00,0.0,M-0-800
1,2,2215884,New Credit Customer,600.0,0,0.00,0,0.0,0.0,0.00,0.0,M-0-1000
2,3,2152674,Existing Credit Customer,1200.0,1,400.00,0,2.0,1062.0,570.26,0.0,M-0-1000
3,4,2197030,Existing Credit Customer,1200.0,2,419.99,0,3.0,1593.0,570.26,0.0,M-0-1000
4,5,2326664,Existing Credit Customer,600.0,1,17.36,0,1.0,531.0,54.61,0.0,M-0-1000

In [58]:

dataFrame_output_asset.to_csv("borrower_credit.csv",index=False)

In [59]:
# Bảng Loan_Detail
Loan_Detail= Data[['LoanId','FirstPaymentDate','ActiveScheduleFirstPaymentReached',
       'LastPaymentOn', 'CurrentDebtDaysPrimary', 'DebtOccuredOn',
       'CurrentDebtDaysSecondary', 'DebtOccuredOnForSecondary','PrincipalOverdueBySchedule',
       'PrincipalPaymentsMade', 'InterestAndPenaltyPaymentsMade',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs', 'PrincipalBalance',
       'InterestAndPenaltyBalance','GracePeriodStart',
       'GracePeriodEnd']]
Loan_Detail["Loan_detailID"]=range(1,len(Loan_Detail)+1)
Loan_Detail.isnull().sum()

C:\Users\ACER\AppData\Local\Temp\ipykernel_3520\428441641.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loan_Detail["Loan_detailID"]=range(1,len(Loan_Detail)+1)

LoanId                                    0
FirstPaymentDate                          0
ActiveScheduleFirstPaymentReached         0
LastPaymentOn                          2945
CurrentDebtDaysPrimary               132860
DebtOccuredOn                        132860
CurrentDebtDaysSecondary             126158
DebtOccuredOnForSecondary            126158
PrincipalOverdueBySchedule              280
PrincipalPaymentsMade                     0
InterestAndPenaltyPaymentsMade            0
PrincipalWriteOffs                   166411
InterestAndPenaltyWriteOffs          166411
PrincipalBalance                          0
InterestAndPenaltyBalance             97927
GracePeriodStart                     148137
GracePeriodEnd                       148137
Loan_detailID                             0
dtype: int64

Đánh giá: Những cột có giá trị NULL là những giá trị chứa các khoản đánh giá của các khoản vay bị trễ hạn và đang trong thời gian thu hồi nợ (tính đến ngày 22/10/2023- ngày cập nhập khoản vay) bao gồm thời gian nợ tiền gốc, tiền lãi suất, thời gian các khoản vay nợ( quá hạn không trả và người cho vay quyết định thu hồi nợ)
- Một số cột khác như gracePeriodSart hay End: thời gian gia hạn khoản vay chỉ áp dụng ở một số khoản vay có gia hạn
- Cột PrincipalWriteOffs và InterestAndPenaltyWriteOffs : chỉ áp dụng cho những khoản vay không có khả năng trả nợ và rơi vào vỡ nợ, người vay quyết định xóa nợ các khoản này
- Cột InterestAndPenaltyBalance: số tiền lãi và chi phí chưa thanh toán có thể NULL vì còn phụ thuộc vào khả năng trả nợ và các chi phí phát sinh liên quan sau này.
- Cột RecoveryStage: trạng thái thu hồi nợ đánh giá cho tất cả các khaorn vay, với các giá trị NULL chó thể thay bởi giá trị 0 vì chưa ở trạng thái phải thu hồi, người vay đang thanh toán đầy đủ khoản phí.

In [60]:
# Xử lí giá trị NULL ở cột RecoveryStage, PrincipalOverdueBySchedule 

Loan_Detail.PrincipalOverdueBySchedule.fillna(0,inplace=True)
Loan_Detail.CurrentDebtDaysPrimary.fillna(0,inplace=True)
Loan_Detail.CurrentDebtDaysSecondary.fillna(0,inplace=True)
Loan_Detail.PrincipalWriteOffs.fillna(0,inplace=True)
Loan_Detail.InterestAndPenaltyWriteOffs.fillna(0,inplace=True)

#Loan_Detail.to_csv("Loan_Detail.csv", index=False)
Loan_Detail.head()

C:\Users\ACER\AppData\Local\Temp\ipykernel_3520\1753126962.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loan_Detail.PrincipalOverdueBySchedule.fillna(0,inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_3520\1753126962.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loan_Detail.CurrentDebtDaysPrimary.fillna(0,inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_3520\1753126962.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loan_Detail.CurrentDebtDaysSecondary.fillna(0,inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_3520\1753126962.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loan_Detail.PrincipalWriteOffs.fillna(0,inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_3520\1753126962.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loan_Detail.InterestAndPenaltyWriteOffs.fillna(0,inplace=True)

,LoanId,FirstPaymentDate,ActiveScheduleFirstPaymentReached,LastPaymentOn,CurrentDebtDaysPrimary,DebtOccuredOn,CurrentDebtDaysSecondary,DebtOccuredOnForSecondary,PrincipalOverdueBySchedule,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalBalance,InterestAndPenaltyBalance,GracePeriodStart,GracePeriodEnd,Loan_detailID
0,836E1ABB9D6F,1/18/2021 0:00,Yes,9/20/2021 0:00,0.0,NaN,743.0,10/8/2021 0:00,0.0,6911.0,1075.96,0.0,62.03,0.0,0.0,NaN,NaN,1
1,6F99A0633AFA,4/12/2021 0:00,Yes,8/19/2021 0:00,0.0,NaN,782.0,8/30/2021 0:00,0.0,531.0,46.64,0.0,2.47,0.0,0.0,NaN,NaN,2
2,6387EED5CE06,1/18/2021 0:00,Yes,9/20/2021 0:00,0.0,NaN,0.0,NaN,0.0,531.0,113.52,0.0,0.00,0.0,0.0,7/20/2021 0:00,9/20/2021 0:00,3
3,55A06196AF5E,3/18/2021 0:00,Yes,9/20/2021 0:00,0.0,NaN,0.0,NaN,0.0,531.0,88.06,0.0,0.00,0.0,0.0,7/20/2021 0:00,9/20/2021 0:00,4
4,EE4E7640FF36,8/12/2021 0:00,Yes,8/23/2021 0:00,0.0,NaN,782.0,8/30/2021 0:00,0.0,2339.0,14.22,0.0,16.99,0.0,NaN,NaN,NaN,5

In [61]:
loan_to_detail_dict={}
detail = []

for index,row in Loan_Detail.iterrows():
    _detail = LOAN_DETAIL(row["Loan_detailID"],loan_to_loan_dict[row["LoanId"]], row["FirstPaymentDate"],
                          row["ActiveScheduleFirstPaymentReached"], row["LastPaymentOn"], row["CurrentDebtDaysPrimary"], row["DebtOccuredOn"], row["CurrentDebtDaysSecondary"], row["DebtOccuredOnForSecondary"],row["PrincipalOverdueBySchedule"],row["PrincipalPaymentsMade"], row["InterestAndPenaltyPaymentsMade"],row["PrincipalWriteOffs"],row["InterestAndPenaltyWriteOffs"],row["PrincipalBalance"],row["InterestAndPenaltyBalance"],row["GracePeriodStart"],row["GracePeriodEnd"])
    detail.append(_detail)
    loan_to_detail_dict[row["Loan_detailID"]] = _detail
dataFrame_output_loan_detail = pd.DataFrame(sto.to_dict() for sto in detail )
dataFrame_output_loan_detail.head()

,Loan_detailID,LoanId,FirstPaymentDate,ActiveScheduleFirstPaymentReached,LastPaymentOn,CurrentDebtDaysPrimary,DebtOccuredOn,CurrentDebtDaysSecondary,DebtOccuredOnForSecondary,PrincipalOverdueBySchedule,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalBalance,InterestAndPenaltyBalance,GracePeriodStart,GracePeriodEnd
0,1,836E1ABB9D6F,1/18/2021 0:00,Yes,9/20/2021 0:00,0.0,NaN,743.0,10/8/2021 0:00,0.0,6911.0,1075.96,0.0,62.03,0.0,0.0,NaN,NaN
1,2,6F99A0633AFA,4/12/2021 0:00,Yes,8/19/2021 0:00,0.0,NaN,782.0,8/30/2021 0:00,0.0,531.0,46.64,0.0,2.47,0.0,0.0,NaN,NaN
2,3,6387EED5CE06,1/18/2021 0:00,Yes,9/20/2021 0:00,0.0,NaN,0.0,NaN,0.0,531.0,113.52,0.0,0.00,0.0,0.0,7/20/2021 0:00,9/20/2021 0:00
3,4,55A06196AF5E,3/18/2021 0:00,Yes,9/20/2021 0:00,0.0,NaN,0.0,NaN,0.0,531.0,88.06,0.0,0.00,0.0,0.0,7/20/2021 0:00,9/20/2021 0:00
4,5,EE4E7640FF36,8/12/2021 0:00,Yes,8/23/2021 0:00,0.0,NaN,782.0,8/30/2021 0:00,0.0,2339.0,14.22,0.0,16.99,0.0,NaN,NaN,NaN

In [62]:

dataFrame_output_loan_detail['FirstPaymentDate'] = dataFrame_output_loan_detail['FirstPaymentDate'].astype('datetime64[ns]')
dataFrame_output_loan_detail['LastPaymentOn'] = dataFrame_output_loan_detail['LastPaymentOn'].astype('datetime64[ns]')
dataFrame_output_loan_detail['DebtOccuredOn'] = dataFrame_output_loan_detail['DebtOccuredOn'].astype('datetime64[ns]')
dataFrame_output_loan_detail['DebtOccuredOnForSecondary'] = dataFrame_output_loan_detail['DebtOccuredOnForSecondary'].astype('datetime64[ns]')
dataFrame_output_loan_detail['GracePeriodStart'] = dataFrame_output_loan_detail['GracePeriodStart'].astype('datetime64[ns]')
dataFrame_output_loan_detail['GracePeriodEnd'] = dataFrame_output_loan_detail['GracePeriodEnd'].astype('datetime64[ns]')
dataFrame_output_loan_detail.head()

,Loan_detailID,LoanId,FirstPaymentDate,ActiveScheduleFirstPaymentReached,LastPaymentOn,CurrentDebtDaysPrimary,DebtOccuredOn,CurrentDebtDaysSecondary,DebtOccuredOnForSecondary,PrincipalOverdueBySchedule,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalBalance,InterestAndPenaltyBalance,GracePeriodStart,GracePeriodEnd
0,1,836E1ABB9D6F,2021-01-18,Yes,2021-09-20,0.0,NaT,743.0,2021-10-08,0.0,6911.0,1075.96,0.0,62.03,0.0,0.0,NaT,NaT
1,2,6F99A0633AFA,2021-04-12,Yes,2021-08-19,0.0,NaT,782.0,2021-08-30,0.0,531.0,46.64,0.0,2.47,0.0,0.0,NaT,NaT
2,3,6387EED5CE06,2021-01-18,Yes,2021-09-20,0.0,NaT,0.0,NaT,0.0,531.0,113.52,0.0,0.00,0.0,0.0,2021-07-20,2021-09-20
3,4,55A06196AF5E,2021-03-18,Yes,2021-09-20,0.0,NaT,0.0,NaT,0.0,531.0,88.06,0.0,0.00,0.0,0.0,2021-07-20,2021-09-20
4,5,EE4E7640FF36,2021-08-12,Yes,2021-08-23,0.0,NaT,782.0,2021-08-30,0.0,2339.0,14.22,0.0,16.99,0.0,NaN,NaT,NaT

In [74]:
dataFrame_output_loan_detail.isnull().sum()

Loan_detailID                             0
LoanId                                    0
FirstPaymentDate                          0
ActiveScheduleFirstPaymentReached         0
LastPaymentOn                          2945
CurrentDebtDaysPrimary                    0
DebtOccuredOn                        132860
CurrentDebtDaysSecondary                  0
DebtOccuredOnForSecondary            126158
PrincipalOverdueBySchedule                0
PrincipalPaymentsMade                     0
InterestAndPenaltyPaymentsMade            0
PrincipalWriteOffs                        0
InterestAndPenaltyWriteOffs               0
PrincipalBalance                          0
InterestAndPenaltyBalance             97927
GracePeriodStart                     148137
GracePeriodEnd                       148137
dtype: int64

In [63]:
dataFrame_output_loan_detail.to_csv("loan_detail.csv",index=False)

In [64]:
# Bảng Recovery
Recovery= Data[['LoanId','DefaultDate',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery']]
Recovery.head()

,LoanId,DefaultDate,PlannedPrincipalPostDefault,PlannedInterestPostDefault,EAD1,EAD2,PrincipalRecovery,InterestRecovery
0,836E1ABB9D6F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6F99A0633AFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6387EED5CE06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55A06196AF5E,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EE4E7640FF36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
Recovery = Recovery.dropna(subset=['DefaultDate'])
Recovery["RecoveryID"]=range(1,len(Recovery)+1)
Recovery.isnull().sum()
Recovery.head()

,LoanId,DefaultDate,PlannedPrincipalPostDefault,PlannedInterestPostDefault,EAD1,EAD2,PrincipalRecovery,InterestRecovery,RecoveryID
12,62D16EDE25B1,1/30/2023 0:00,0.0,139.36,2033.60,1130.46,292.79,0.0,1
13,81915139D500,1/30/2023 0:00,0.0,48.64,710.18,295.01,102.37,0.0,2
14,7DBB0F99F195,1/30/2023 0:00,0.0,196.08,2813.81,1441.56,407.16,0.0,3
15,AE05AE1A2595,1/30/2023 0:00,0.0,148.16,751.29,274.77,128.37,0.0,4
17,97D93907EA35,1/30/2023 0:00,0.0,32.80,463.42,272.95,67.30,0.0,5

In [66]:
loan_to_recovery_dict={}
recovery = []

for index,row in Recovery.iterrows():
    _recovery = RECOVERY(row["RecoveryID"],loan_to_loan_dict[row["LoanId"]], row["DefaultDate"],
                          row["PlannedPrincipalPostDefault"], row["PlannedInterestPostDefault"], row["EAD1"], row["EAD2"], row["PrincipalRecovery"], row["InterestRecovery"])
    recovery.append(_recovery)
    loan_to_recovery_dict[row["RecoveryID"]] = _recovery
dataFrame_output_loan_recovery = pd.DataFrame(sto.to_dict() for sto in recovery )
dataFrame_output_loan_recovery.head()

,RecoveryID,LoanId,DefaultDate,PlannedPrincipalPostDefault,PlannedInterestPostDefault,EAD1,EAD2,PrincipalRecovery,InterestRecovery
0,1,62D16EDE25B1,1/30/2023 0:00,0.0,139.36,2033.60,1130.46,292.79,0.0
1,2,81915139D500,1/30/2023 0:00,0.0,48.64,710.18,295.01,102.37,0.0
2,3,7DBB0F99F195,1/30/2023 0:00,0.0,196.08,2813.81,1441.56,407.16,0.0
3,4,AE05AE1A2595,1/30/2023 0:00,0.0,148.16,751.29,274.77,128.37,0.0
4,5,97D93907EA35,1/30/2023 0:00,0.0,32.80,463.42,272.95,67.30,0.0

In [67]:
dataFrame_output_loan_recovery['DefaultDate'] = dataFrame_output_loan_recovery['DefaultDate'].astype('datetime64[ns]')

In [68]:
dataFrame_output_loan_recovery.to_csv("recovery.csv",index=False)

In [69]:
dataFrame_output_loan_recovery.head()

,RecoveryID,LoanId,DefaultDate,PlannedPrincipalPostDefault,PlannedInterestPostDefault,EAD1,EAD2,PrincipalRecovery,InterestRecovery
0,1,62D16EDE25B1,2023-01-30,0.0,139.36,2033.60,1130.46,292.79,0.0
1,2,81915139D500,2023-01-30,0.0,48.64,710.18,295.01,102.37,0.0
2,3,7DBB0F99F195,2023-01-30,0.0,196.08,2813.81,1441.56,407.16,0.0
3,4,AE05AE1A2595,2023-01-30,0.0,148.16,751.29,274.77,128.37,0.0
4,5,97D93907EA35,2023-01-30,0.0,32.80,463.42,272.95,67.30,0.0

In [70]:
# Bảng Loan_Bidding
Loan_Bidding= Data[["LoanId",'BiddingStartedOn','BidsPortfolioManager',
       'BidsApi', 'BidsManual']]
Loan_Bidding["BiddingID"]=range(1,len(Loan_Bidding)+1)


#Loan_Bidding.to_csv("Loan_Bidding.csv", index=False)

C:\Users\ACER\AppData\Local\Temp\ipykernel_3520\456647985.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loan_Bidding["BiddingID"]=range(1,len(Loan_Bidding)+1)

In [71]:
loan_to_bidding_dict={}
bidding = []
for index,row in Loan_Bidding.iterrows():
    _bidding = LOAN_BIDDING(row["BiddingID"],loan_to_loan_dict[row["LoanId"]],row["BiddingStartedOn"],row["BidsPortfolioManager"], row["BidsApi"], row["BidsManual"])
    bidding.append(_bidding)
    loan_to_bidding_dict[int(row["BiddingID"])] = _bidding

dataFrame_output_bidding = pd.DataFrame(sto.to_dict() for sto in bidding )
dataFrame_output_bidding.head()

,BiddingID,LoanId,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual
0,1,836E1ABB9D6F,12/21/2020 13:11,224,0,262
1,2,6F99A0633AFA,4/2/2021 16:45,0,0,41
2,3,6387EED5CE06,1/10/2021 20:18,27,0,14
3,4,55A06196AF5E,3/11/2021 10:25,32,0,9
4,5,EE4E7640FF36,8/5/2021 7:14,117,3,44

In [72]:
dataFrame_output_bidding['BiddingStartedOn'] = dataFrame_output_bidding['BiddingStartedOn'].astype('datetime64[ns]')
dataFrame_output_bidding.to_csv("loan_bidding.csv",index=False)

In [73]:
dataFrame_output_bidding.head()

,BiddingID,LoanId,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual
0,1,836E1ABB9D6F,2020-12-21 13:11:00,224,0,262
1,2,6F99A0633AFA,2021-04-02 16:45:00,0,0,41
2,3,6387EED5CE06,2021-01-10 20:18:00,27,0,14
3,4,55A06196AF5E,2021-03-11 10:25:00,32,0,9
4,5,EE4E7640FF36,2021-08-05 07:14:00,117,3,44